<?xml version="1.0" encoding="UTF-8"?>

<?include vars.wxi?> <!--cmake variables and their values-->
<?include depends.wxi?> <!--paths to cmake dependencies-->

<?if $(sys.BUILDARCH) = x64?>
    <?define Win64="yes"?>
    <?define PlatformProgramFilesFolder="ProgramFiles64Folder"?>
<?else?>
    <?define Win64="no"?>
    <?define PlatformProgramFilesFolder="ProgramFilesFolder"?>
<?endif?>
<!-- Bundle logo-->
<?define Logo = "C:/Users/Michael/daw/res/icons/daw.ico" ?>
<!-- Bundle EULA rtf document-->
<?define Eula = "Resources\eula.rtf" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*"
             Name="DAW-beta"
             Language="1033"
             Version="0.4.1.0"
             Manufacturer="Michael Hept"
             UpgradeCode="58FB0E6C-94EF-4AFB-A067-A6DA6B17E10F">
        <Package InstallerVersion="100" Compressed="yes"/>
        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>
        <Icon Id="icon.ico" SourceFile="$(var.Logo)"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
        
        <!--Features-->
        <Feature Id="MainApplication" Title="DAW" Level="1">
            <ComponentRef Id="DAW_exe"/>
            <ComponentRef Id="DAW_pdb"/>
        </Feature>

        <!--Directory structure-->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="INSTALL_ROOT" Name="daw-beta-0.4.1.0"/>
            </Directory>
        </Directory>

        <!--Components-->
        <DirectoryRef Id="INSTALL_ROOT">
            <Component Id="DAW_exe" Guid="*" Win64="$(var.Win64)">
                <!--"$(var.TARGET_FILE:CppExecutable)" from depends.wxi-->
                <File Source="$(var.TARGET_FILE:DAW)" KeyPath="yes"/>
            </Component>

            <Component Id="DAW_pdb" Guid="*" Win64="$(var.Win64)">
                <!--"$(var.TARGET_PDB_FILE:CppExecutable)" from depends.wxi-->
                <File Source="$(var.TARGET_PDB_FILE:DAW)" KeyPath="yes"/>
            </Component>
        </DirectoryRef><!-- Step 2: Add UI to your installer / Step 4: Trigger the custom action -->

        <UI>
            <UIRef Id="WixUI_Minimal" />
            <Publish Dialog="ExitDialog" 
                Control="Finish" 
                Event="DoAction" 
                Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch DAW" />
    
        <!-- Step 3: Include the custom action -->
        <Property Id="WixShellExecTarget" Value="[#myapplication.exe]" />
        <CustomAction Id="LaunchApplication" 
            BinaryKey="WixCA" 
            DllEntry="WixShellExec"
            Impersonate="yes" />
    </Product>
</Wix>